.timeline {
	scroll-snap-type: mandatory;
	-ms-scroll-snap-type: mandatory;
	scroll-snap-points-x: repeat(100%);
	@apply relative grid snap-x snap-mandatory scroll-px-8 gap-4 overflow-x-auto;
	-webkit-overflow-scrolling: touch;
	& > div {
		scroll-snap-align: start;
	}

	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
	grid-template-columns: auto 1fr 1fr;
}

.holoTextGreen {
	-webkit-text-stroke: 1px #77b16a;
	webkit-text-stroke: 1px #77b16a;
	filter: drop-shadow(0 0 1px #77b16a);

	@screen md {
		-webkit-text-stroke: 2px #77b16a;
		webkit-text-stroke: 2px #77b16a;
		filter: drop-shadow(0 0 2px #77b16a);
	}
}

.holoTextBlue {
	-webkit-text-stroke: 1px #42b4e5;
	webkit-text-stroke: 1px #42b4e5;
	filter: drop-shadow(0 0 1px #42b4e5);

	@screen md {
		-webkit-text-stroke: 2px #42b4e5;
		webkit-text-stroke: 2px #42b4e5;
		filter: drop-shadow(0 0 2px #42b4e5);
	}
}
