.heroV1 {
	background: linear-gradient(hsl(128, 100%, 3%), hsl(211, 100%, 6%));

	@apply flex h-screen flex-col items-center justify-center;

	height: 100svh;

	h1,
	p {
		background: repeating-linear-gradient(
			to right,
			hsla(0, 0%, 100%, 1) 0%,
			hsla(0, 0%, 100%, 0.77) 50%,
			hsla(0, 0%, 100%, 1) 100%
		);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% auto;
		background-position: 0 100%;
		width: 100%;
		animation: scroll 7.7s linear 0s infinite;
		animation-fill-mode: forwards;
		animation-timing-function: linear;

		@keyframes scroll {
			0% {
				background-position: 0 0;
			}

			100% {
				background-position: -200% 0;
			}
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("/pattern.svg") no-repeat center center/cover;
		pointer-events: none;
	}
}
