.bg-blur-10 {
	background-color: rgba(122, 122, 122, 0.66);
	@supports (
		(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
	) {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba(150, 150, 150, 0.33);
		opacity: 0.99;
	}
}

.blue-green-gradient {
	@apply bg-gradient-to-r from-konf-primary-blue to-konf-primary-green;
}

.gradient-on-text {
	-webkit-text-fill-color: transparent;
	@apply bg-clip-text;
}
