@import "./core.scss";
@import "./fonts.scss";

:root {
	color-scheme: dark light;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply text-konf-primary-white;
	@apply bg-konf-background-blue;
	@apply min-h-screen;

	margin: 0 auto;

	& main {
		background: url("/assets/bg/pattern.svg") no-repeat center center/cover;
	}
}
