@import "./core.scss";
@import "./fonts.scss";

:root {
	color-scheme: dark light;
}

html {
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
	-webkit-tap-highlight-color: transparent;
}

body {
	@apply text-konf-primary-white;
	@apply bg-konf-background-blue;
	@apply min-h-screen;

	margin: 0 auto;
}

main {
	background-image: url("/assets/bg/mobile_small.png");
	background-image: url("/assets/bg/mobile_small.webp");
	background-size: 100% auto;
	background-repeat: repeat-y;
	background-position: 0 100vh;
	@screen md {
		background-image: url("/assets/bg/desktop_small.png");
		background-image: url("/assets/bg/desktop_small.webp");
		background-position: 0 75vh;
	}
}
