:root {
	color-scheme: dark light;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply text-konf-primary-white;
	@apply bg-konf-background-blue;
	@apply min-h-screen;

	margin: 0 auto;
}

.bg-gradient {
	background: radial-gradient(
		70.02% 70.02% at 50% 50%,
		rgba(112, 255, 131, 0) 50%,
		rgba(46, 192, 243, 0.1) 100%
	);
}
