.scrollContainer {
	scroll-snap-type: mandatory;
	-ms-scroll-snap-type: mandatory;
	scroll-snap-points-x: repeat(100%);
	@apply flex h-max w-full cursor-grab snap-x snap-mandatory scroll-px-8 gap-6 overflow-x-auto whitespace-nowrap px-4 lg:scroll-px-20 lg:px-20;
	-webkit-overflow-scrolling: touch;
	& > div {
		scroll-snap-align: start;
	}

	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.line {
	@apply -mt-3.5 h-1 w-full;
	background: linear-gradient(
		90deg,
		#77b16a 0px,
		#77b16a 64px,
		#42b4e5 calc(100% - 64px),
		#42b4e5 100%
	);
}
