.section {
	@apply grid gap-3 bg-white px-8 pt-8 pb-8 text-center text-black;
	grid-template-columns: 1fr;

	h2 {
		@apply col-span-full
			mb-1
			text-4xl
			font-semibold;
	}
	h3 {
		@apply mt-4
			mb-2
			text-3xl;
	}

	@screen 2xl {
		@apply gap-x-6;
		grid-template-columns: 1fr 1fr 1fr;
		h3 {
			@apply col-span-3;
		}
	}
}

.containerOne {
	@apply my-auto flex flex-wrap items-center justify-evenly;
}

.containerMany {
	@apply grid
		w-full
		items-center
		justify-items-center gap-4;

	grid-template-columns: 1fr;

	@screen md {
		grid-template-columns: repeat(6, 1fr);

		& :last-child:nth-child(3n - 1) {
			grid-column-end: -2;
		}

		& :nth-last-child(2):nth-child(3n + 1) {
			grid-column-end: 4;
		}
		& :last-child:nth-child(3n - 2) {
			grid-column-end: 5;
		}
	}
}
